[Unit]
Description=TLS-Bypass
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/speednet
ExecStart=/opt/speednet/tlsbypass.py
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
